@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body {
  height: 100vh;
  background: #eff5f5;
}

header {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav_logo {
  width: 170px;
  cursor: pointer;
}

.home_page_container {
  padding-top: 90px;
  width: 1340px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home_page_left_container_main_container span {
  font-size: 22px;
  color: #497174;
  font-weight: 500;
  line-height: 28px;
}

.home_page_left_container_main_container {
  margin-top: 55px;
  width: 616px;
}

.home_page_right_container {
  position: relative;
  display: flex;
  pointer-events: none;
}

.home_page_buttons_container {
  margin-top: 75.99px;
  display: flex;
  gap: 8px;
}

.about_page_footer div
{
  display: flex;
  gap: 7px;
}

.home_page_buttons_container button {
  width: 175px;
  height: 64.05px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  transition: 430ms;
}

.about_button {
  color: #eff5f5;
  background: #eb6440;
  box-shadow: rgb(235 100 64 / 74%) 0px 0px 29px 0px;
  border-radius: 26px;
}

.about_button:hover {
  background: #497174;
  border-radius: 0px;
  scale: 1.05;
  box-shadow: rgb(51 112 107 / 74%) 0px 0px 29px 0px;
}

.about_button:active {
  background: #eb6440;
}

.projects_button {
  color: #497174;
  transition: 300ms;
  background: none;
}

.projects_button:hover {
  background: #497174;
  color: white;
}

.arrow {
  margin-left: 9px;
  margin-bottom: 8px;
  position: absolute;
}

.react_logo {
  width: 170px;
  position: absolute;
  margin-left: -50px;
  pointer-events: none;
  animation: rotation 11s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.navbar_links_container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.navbar_link {
  color: #497174;
  font-size: 23px;
  transition: 300ms;
  font-weight: 500;
  text-decoration: none;
}

.navbar_links_container a:active
{
  text-decoration: underline;
}

.webdev_logo
{
  pointer-events: none;
  position: absolute;
  animation: bounce 3s infinite linear;
  margin-left: 25px;
}

@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(7deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(13deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.navbar_links_container a:hover {
  text-decoration: underline;
  opacity: 0.8;
}
/* cant go home without youu */
.contact_button {
  cursor: pointer;
  padding: 8px 12px;
  background: none;
  border: 3px solid #497174;
  border-radius: 5px;
  color: #497174;
  font-size: 21px;
  transition: 350ms;
}

.contact_button:hover {
  background: #497174;
  color: #eff5f5;
}

.home_page_left_container_header_container span {
  font-size: 108px;
  color: #497174;
}

.home_page_left_container_header_container {
  width: 580px;
  transform: translateX(-9px);
}

.mikheil_logo {
  width: 570px;
  transform: translateX(22px);
}

.about_page_container
{
  width: 1340px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rectangle
{
  animation: rotation 15s infinite linear;
}

.about_container
{
  display: flex;
  flex-direction: row;
  transition: 300ms;
  gap: 12px;
  padding: 25px;
}

.about_container:hover
{
  border-radius: 15px;
  scale: 1.03;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  
}

.about_content_container
{
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}



.about_description_container
{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about_page_left_section
{
  display: flex;
  flex-direction: row;
  gap: 13px;
  flex-wrap: wrap;
}

.inner_text_container
{
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

.about_title
{
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: 0.035em;
  color: #224547;
}

.about_description
{
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.035em;
  color: #497174;
}

.future_png
{
  width: 500px;
  animation: scale 10s ease-out infinite normal;
  pointer-events: none;
}

.hands_wrap
{
  transform: translateY(-66px);
}

.about_page_right_section
{
  display: flex;
    flex-direction: column;
    gap: 15px;
    display: flex;
    width: 500px;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: #eff5f5;
    border-radius: 17px;
    transition: 300ms;
    /* border: 2px solid #84c539; */
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.inner_text
{
  font-size: 17.8px;
  font-weight: 500;
  color: #224547;
}

.about_page_footer
{
  padding-top: 35px;
  width: 1340px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.home_btn
{
  width: 175px;
  height: 64.05px;
  font-size: 25px;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  transition: 550ms;
  background: #eb6440;
  color: #eff5f5;
  box-shadow: rgb(235 100 64 / 74%) 0px 0px 29px 0px;
}

.home_btn:hover
{
  background: #497174;
  border-radius: 0px;
  scale: 1.05;
  box-shadow: rgba(51, 112, 107, 0.74) 0px 0px 29px 0px;
}

.about_page_right_section_header_container
{
  display: flex;
  align-items: center;
  gap: 3px;
}

.about_page_right_section_header_container span
{
  color: #51B6FF;
  font-weight: 400;
  font-size: 27px;
}

.github_profile
{
  width: 153px;
  height: 62px;
  background: #504F4F;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 300ms;
  box-shadow: rgba(89, 89, 100, 0.753) 0px 1px 29px 0px;
  gap: 7px;
}

.github_profile span
{
  font-size: 21px;
  color: #fff;
}

.github_profile:hover
{
  background: none;
  scale: 1.05;
  border: 2px solid #504F4F;
}

.linkedin_profile
{
  width: 153px;
  height: 62px;
  background: #0077BB;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 300ms;
  box-shadow: rgb(7 65 190 / 64%) 0px 1px 29px 0px;
  gap: 7px;
}

.linkedin_profile span
{
  font-size: 19px;
  color: #fff;
}

.linkedin_profile:hover
{
  background: none;
  scale: 1.05;
  border: 2px solid #0077BB;
}

.profile_container
{
  display: flex;
  gap: 13px;
  flex-direction: column;
}

/* project page */

.project_page_container
{
  padding: 40px 260px 0px 260px;  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.individual_project
{
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 15px;
  transition: 300ms;
}

.individual_project:hover
{
  box-shadow: rgb(100 100 111 / 25%) 0px 7px 29px 0px;
  scale: 1.03;
}

.project_description
{
  padding-left: 25px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project_img_container
{
  border-radius: 15px;
  overflow: hidden;
}

.project_img
{
  height: 100%;
  width: 300px;
}

.project_links
{
  display: flex;
  gap: 15px;
}

.project_title
{
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  color: #224547;
}

.project_description_span
{
  font-size: 15px;
  color: #497174;
}

.live_url
{
  padding: 7px 20px;
  border-radius: 17px;
  text-decoration: none;
  background: #eb6440;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 300ms;
  box-shadow: rgb(235 100 64 / 44%) 0px 0px 29px 0px;
}

.description_outer_container
{
  padding-top: 5px;
}

.project_links
{
  padding-top: 9px;
}

.repository_link
{
    padding: 9px 14px;
    border-radius: 17px;
    background: #504F4F;
    text-decoration: none;
    box-shadow: rgb(89 89 100 / 75%) 0px 1px 29px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    transition: 370ms;
}

.repository_link:hover
{
  scale: 1.05;
}

.live_url:hover
{
  background: #224547;
  border-radius: 0px;
  scale: 1.1;
  box-shadow: rgb(51 112 107 / 74%) 0px 0px 29px 0px;
}

.tech_used
{
  color: #eb6440;
  font-weight: 500;
}
.tech_inner
{
  color: #224547;
  font-weight: 400;
}

.tech
{
  padding-top: 5px;
}